body { 
        font-family: Arial, sans-serif; 
        line-height: 1.6; 
        max-width: 800px; 
        margin: 40px auto; 
        padding: 20px; 
    }
    h1 { color: #333; }
    .step { 
        margin-bottom: 20px; 
        padding: 15px; 
        border-left: 5px solid #0070f3; 
        background-color: #f6f8fa; 
        overflow: auto; 
    }
    code { background-color: #eee; padding: 2px 4px; border-radius: 4px; }

    .step img { 
        max-width: 40%; 
        height: auto; 
        border: 1px solid #ccc; 
        border-radius: 4px; 
        float: left; 
        margin-right: 15px; 
        margin-bottom: 10px;
    }
    
    .large-image {
        max-width: 80% !important; 
        float: none !important;     
        display: block;             
        margin: 20px auto !important; 
    }
    .image-container { 
        text-align: left; 
        margin: 0;
        float: left;
    }
    .clear-float {
        clear: both; 
        margin-top: 10px; 
    }
        
    .tab-container {
        display: flex;
        justify-content: center;
        margin-bottom: -1px; 
    }
    .tab-button {
        background-color: #f1f1f1;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        margin-right: 5px;
        font-size: 16px;
        border-radius: 5px 5px 0 0;
        transition: background-color 0.3s;
        flex-grow: 1; 
        min-width: 0; 
        text-align: center;
        white-space: nowrap;
    }
    .tab-button:hover {
        background-color: #ddd;
    }
    .tab-button.active {
        background-color: #0070f3;
        color: white;
    }
    .tab-content {
        border: 1px solid #ccc;
        padding: 20px;
        margin-top: -1px; 
    }
    .hidden {
        display: none;
    }

    @media (max-width: 600px) {
        body {
            margin: 20px 10px; 
            padding: 0;
        }

        .tab-container {
            flex-direction: column;
            margin-bottom: 10px;
        }
        
        .tab-button {
            width: 100%; 
            margin-right: 0;
            margin-bottom: 5px;
            border-radius: 5px;
        }
        
        .step img,
        .large-image,
        .image-container {
            float: none !important;
            max-width: 100% !important;
            width: 100%;
            height: auto;
            margin: 10px 0 10px 0 !important;
            display: block;
        }
        
        .image-container {
             text-align: center;
        }
        
    }